div.twelveone h2 {
  font-family:cursive;
  background-color: green;
}

 div.twelveone p {
  color:green;
 }

div.twelveone p {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
}
